table{
    width: 100%;
}
.id-column {
    width: 10%; /* Ajusta el porcentaje según tus necesidades */
  }
  
.tarea-column {
    width: 70%; /* Ajusta el porcentaje según tus necesidades */
  }
  
.acciones-column {
    width: 20%; /* Ajusta el porcentaje según tus necesidades */
  }